.popup__button-submit_disabled {
  opacity: .2;
  background-color: #FFFFFF;
  pointer-events: none;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-top: 31px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 14px 124px 18px 125px;
}

@media screen and (max-width: 917px) {
  .popup__button-submit {
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 28px;
  }
}
