.profile__description {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 927px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}
