.profile__description {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 917px) {
  .profile__description {
    max-width: 189px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 26px;
  }
}
