.element__like-button {
  background-image: url(../../../images/heart_disabled.svg);
  background-size: cover;
  background-color: transparent;
  width: 22px;
  height: 19px;
  border: none;
  margin: 0;
  padding: 0;
  align-self: center;
  margin-right: 5px;
  transition: opacity .3s ease;
}

.element__like-button:hover {
  opacity: .5;
  cursor: pointer;
}

.element__like-button:active {
  background-image: url(../../../images/heart__active.svg);
}