.profile__info {
  display: flex;
  max-width: 336px;
  flex-wrap: wrap;
  margin-left: 30px;
  align-items: baseline;
}

@media screen and (max-width: 927px) {
  .profile__info {
    max-width: 282px;
    justify-content: center;
    margin: 26px 0 36px;
  }  
}
